<header class="bg-red-700 border-b-4 border-yellow-400 shadow-md">
  <div class="max-w-7xl mx-auto px-6 h-16 flex items-center justify-between">
    <!-- Logo -->
    <div class="flex items-center gap-3">
      <div class="w-12 h-12 bg-yellow-400 rounded-full flex items-center justify-center">🍕</div>

      <div>
        <h1 class="text-white font-bold text-xl leading-none">Pizza Delivery</h1>

        <p class="text-yellow-300 text-xs">Delicioso y rápido</p>
      </div>
    </div>

    <!-- Menú -->
    <nav class="hidden md:flex items-center gap-2">
      <a
        routerLink="/"
        routerLinkActive
        #rlaProductos="routerLinkActive"
        [routerLinkActiveOptions]="{ exact: true }"
        [class.bg-white]="rlaProductos.isActive"
        [class.text-red-700]="rlaProductos.isActive"
        [class.hover:bg-gray-100]="rlaProductos.isActive"
        [class.text-white]="!rlaProductos.isActive"
        [class.hover:bg-red-600]="!rlaProductos.isActive"
        class="font-medium px-4 py-2 rounded-lg transition"
      >
        Productos
      </a>

      <a
        routerLink="/carrito"
        routerLinkActive
        #rlaCarrito="routerLinkActive"
        [class.bg-white]="rlaCarrito.isActive"
        [class.text-red-700]="rlaCarrito.isActive"
        [class.hover:bg-gray-100]="rlaCarrito.isActive"
        [class.text-white]="!rlaCarrito.isActive"
        [class.hover:bg-red-600]="!rlaCarrito.isActive"
        class="font-medium px-4 py-2 rounded-lg transition"
      >
        Carrito
      </a>

      <a
        routerLink="/compras"
        routerLinkActive
        #rlaCompras="routerLinkActive"
        [class.bg-white]="rlaCompras.isActive"
        [class.text-red-700]="rlaCompras.isActive"
        [class.hover:bg-gray-100]="rlaCompras.isActive"
        [class.text-white]="!rlaCompras.isActive"
        [class.hover:bg-red-600]="!rlaCompras.isActive"
        class="font-medium px-4 py-2 rounded-lg transition"
      >
        Mis Compras
      </a>

      <a
        routerLink="/configuracion"
        routerLinkActive
        #rlaConfig="routerLinkActive"
        [class.bg-white]="rlaConfig.isActive"
        [class.text-red-700]="rlaConfig.isActive"
        [class.hover:bg-gray-100]="rlaConfig.isActive"
        [class.text-white]="!rlaConfig.isActive"
        [class.hover:bg-red-600]="!rlaConfig.isActive"
        class="font-medium px-4 py-2 rounded-lg transition"
      >
        Configuración
      </a>
    </nav>

    <!-- Login -->
    <button
      class="bg-yellow-400 hover:bg-yellow-300 text-red-800 font-semibold px-5 py-2 rounded-lg transition"
    >
      Ingresar
    </button>
  </div>
</header>
